* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.app {
  display: flex;
}

/* Small Devices */
@media only screen and (max-width : 768px) {
  .sidebar {
    padding-bottom: 75px;
    border-width: 1px;
    border-color: #ddd;
    border-right-style: solid;
    width: 50px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .contentBody {
    margin-left: 50px;
    padding: 30px;
  }

  .contentHeader {
    margin-left: 50px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
  
  #selectType{
    visibility: hidden;
    height: 0;
    padding: 0;
  }
}

/* Large Devices */
@media only screen and (min-width : 768px) {
  .sidebar {
    padding-bottom: 75px;
    border-width: 1px;
    border-color: #ddd;
    border-right-style: solid;
    width: 200px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .contentBody {
    margin-left: 200px;
    padding: 30px;
  }

  .contentHeader {
    margin-left: 200px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .leftSide{
    width: 50%;
    float: left;
    bottom: 0;
  }

  .rightSide{
    /**width: 50%;**/
    margin-left: 200px;
    /**float: left;**/
    text-align: right;
    padding-top: 9px;
  }

  #expandSidebar{
    visibility: hidden;
    height: 0;
    padding: 0;
  }
}

.sidebar :hover{
  background-color: #ddd;
  cursor:pointer;
}

.sidebarItem{
  padding: 10px;
  border-width: 1px;
  border-color: #ddd;
  border-bottom-style: solid;
  text-align: center;
}